// Verse block

.quote-block {
    .verse-n {
        font-size: 14px;
        font-weight: 500;
        font-style: italic;
        display: block;
        margin-bottom: 8px;

        font {
            font-size: 14px;
            font-weight: 500;
            font-style: italic;
        }
    }

    .verse-verse {
        font-size: 28px;
        font-weight: 700;

        font {
            font-size: 28px;
            font-weight: 700;
        }
    }
}
