.content-info {
    margin-top: 50px;
    padding-top: 90px;
    background: $blue;

    .footer-col {
        width: 33.333%;
        margin-bottom: 40px;

        .es_subscription_form {
            .es-field-wrap {
                display: inline-block;
                width: calc(65% - 10px);

                label {
                    width: 100%;
                }

                input {
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid #fff;
                    color: #fff;
                    width: 100%;
                    font-size: 14px;
                }

                &:first-of-type {
                    margin-right: 19px;
                }
            }

            .es-field-wrap:first-child {
                width: calc(35% - 10px);
            }

            p {
                margin-top: 16px;
            }

            .ig-es-form-list-selection {
                margin-bottom: 16px;
                .pt-4 {
                    padding-top: 4px;
                }
            }

            .es_subscription_form_submit {
                display: inline-block;
                border: none;
                border-radius: 8px;
                font-size: 14px;
                font-weight: 500;
                transition: 0.2s ease;
                position: relative;
                padding: 12px 36px 12px 36px;
                margin-top: 12px;
                line-height: 1;
                background: $sand;
                color: $black;
                cursor: pointer;
            }
        }

        .footer-logo {
            margin-bottom: 50px;
            display: block;
        }

        h3 {
            color: #fff;
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 24px;

            font {
                color: #fff;
                font-size: 22px;
                font-weight: 700;
            }
        }

        h4 {
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 14px;

            font {
                color: #fff;
                font-size: 18px;
                font-weight: 700;
            }
        }

        .footer-menu {
            a {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 9px;
                display: block;
                color: #fff;
                opacity: 0.9;
                transition: 0.2s ease;

                font {
                    opacity: 0.9;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 400;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        p {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: #fff;
            opacity: 0.9;

            font {
                opacity: 0.9;
                color: #fff;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .youtube-links {
            a {
                margin-bottom: 16px;

                img {
                    width: 37px;
                    margin-right: 10px;
                    display: inline-block;
                }

                .content {
                    width: calc(100% - 47px);

                    span {
                        color: #fff;

                        font {
                            color: #fff;
                        }
                    }

                    .title {
                        font-size: 14px;
                        font-weight: 500;
                        opacity: 0.9;
                        transition: 0.2s ease;

                        &:hover {
                            opacity: 1;
                        }

                        font {
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }

                    .subtitle {
                        font-size: 12px;
                        font-style: italic;
                        opacity: 0.6;
                        transition: 0.2s ease;

                        &:hover {
                            opacity: 1;
                        }

                        font {
                            font-size: 12px;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }

    .footer-foot {
        .footer-lang {
            margin-bottom: 35px;
            padding-top: 20px;

            .switcher {
                border-radius: 10px;

                .selected a {
                    font-size: 12px;
                }
            }

            span {
                display: inline-block;
                margin-right: 20px;
                font-size: 14px;
                font-weight: 500;
                opacity: 0.9;
                color: #fff;

                font {
                    font-size: 14px;
                    opacity: 0.9;
                    color: #fff;
                    font-weight: 500;
                }
            }
        }

        .footer-small {
            padding-bottom: 16px;
            width: 100%;

            span {
                font-size: 12px;
                color: #fff;
                opacity: 0.6;

                font {
                    font-size: 12px;
                    opacity: 0.6;
                    color: #fff;
                }
            }

            a {
                font-size: 12px;
                color: #fff;
                opacity: 0.6;

                font {
                    font-size: 12px;
                    opacity: 0.6;
                    color: #fff;
                }

                span {
                    text-decoration: underline;
                    font-size: 12px;
                    color: #fff;
                    opacity: 1;

                    font {
                        font-size: 12px;
                        opacity: 0.6;
                        color: #fff;
                    }
                }
            }
        }
    }
}
