body,
html {
    background: $bg-grey;
    overflow-x: hidden;
}

.container {
    max-width: 1155px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.container-content {
    padding-top: 80px;
}

.container--verse {
    max-width: 710px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.verse-centered {
    padding-top: 100px;
    padding-bottom: 100px;
}

.wrap-50 {
    width: calc(50% - 8px);
}

.wrap-40 {
    width: calc(40% - 8px);
}

.wrap-55 {
    width: calc(55% - 8px);
}

.wrap-65 {
    width: calc(65% - 8px);
}

a {
    color: $black;

    &:hover {
        border-bottom-color: transparent;
    }
}

p {
    margin-bottom: 26px;
    a {
        color: $black;
        border-bottom: 1px solid $black;

        &:hover {
            border-bottom-color: $black;
        }
    }
}

h1 {
    margin-bottom: 26px;
}

h2 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 12px;

    font {
        font-size: 26px;
        line-height: 36px;
        font-weight: 700;
    }
}

h4 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;

    font {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
    }
}

// Sections

.double-cards {
    padding-top: 50px;
    padding-bottom: 50px;

    .card--blue,
    .card--sand {
        border-radius: 10px;

        .card-content {
            padding: 60px;

            h2 {
                margin-top: 0;
            }
        }
    }

    .card--blue {
        background: $blue;

        h2,
        p {
            color: #fff;

            font {
                color: #fff;
            }
        }

        p {
            color: #fff;
            opacity: 0.9;

            font {
                color: #fff;
                opacity: 0.9;
            }
        }
    }

    .card--sand {
        background: $sand;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.articles-latest {
    padding-top: 100px;
    padding-bottom: 100px;

    h5 {
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
    }

    .meditations {
        h3 {
            font-size: 24px;
            font-weight: 700;
            margin-top: 28px;

            font {
                font-size: 24px;
                font-weight: 700;
            }
        }

        p {
            font-size: 14px;
            line-height: 26px;

            font {
                font-size: 14px;
                line-height: 26px;
            }
        }

        .btn {
            display: inline-block;
            margin-top: 28px;
        }

        .meta-data {
            .bsf-rt-display-time {
                &::after {
                    content: attr(reading_time);
                }
            }

            .bsf-rt-display-postfix {
                &::after {
                    content: attr(postfix);
                }
            }
        }
    }

    .blogs {
        .blog-item {
            text-decoration: none;
            border-bottom: 1px solid rgba(112, 112, 112, 0.1);
            margin-bottom: 16px;

            h3 {
                margin-top: 20px;
                margin-bottom: 0;
                font-size: 18px;
                font-weight: 700;

                font {
                    font-size: 18px;
                    font-weight: 700;
                }
            }

            .content-part {
                padding-bottom: 12px;

                p {
                    font-size: 14px;
                    font-weight: 300;

                    font {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }

            .meta-data {
                margin-bottom: 14px;

                .bsf-rt-display-time {
                    &::after {
                        content: attr(reading_time);
                    }
                }

                .bsf-rt-display-postfix {
                    &::after {
                        content: attr(postfix);
                    }
                }
            }
        }
    }
}

// section latest video

.latest-video {
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;

    .subtitle {
        font-size: 16px;
        font-weight: 500;
        display: block;
        margin-bottom: 12px;

        font {
            font-size: 16px;
            font-weight: 500;
        }

        .nr {
            font-style: italic;
            font-weight: 500;

            font {
                font-style: italic;
                font-weight: 500;
            }
        }
    }

    h3 {
        font-size: 26px;
        font-weight: 700;

        font {
            font-size: 26px;
            font-weight: 700;
        }
    }

    p {
        margin-bottom: 20px;
    }
}

.latest--sand {
    background: $sand;
}

.latest--blue {
    background: $blue;

    .subtitle {
        color: #fff;

        font {
            color: #fff;
        }

        .nr {
            color: #fff;

            font {
                color: #fff;
            }
        }
    }

    h3 {
        color: #fff;

        font {
            color: #fff;
        }
    }

    p {
        color: #fff;
    }
}

// hero hero-blue-img

.hero-blue-img {
    border-radius: 10px;
    background: $blue;
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 20px;

    .wrap-50 {
        width: 50%;
    }

    .bg--blue {
        padding: 65px;
        h1 {
            color: #fff;
            font-size: 28px;
            margin-top: 0;
            font-weight: 700;
            margin-bottom: 22px;
        }

        p {
            color: #fff;
        }
    }

    .wrap-img {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}

.hero-sand-img {
    border-radius: 10px;
    background: $sand;
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 20px;

    .wrap-50 {
        width: 50%;
    }

    .bg--sand {
        padding: 65px;
        h1 {
            color: $black;
            font-size: 28px;
            margin-top: 0;
            font-weight: 700;
            margin-bottom: 22px;
        }

        p {
            color: $black;
        }
    }

    .wrap-img {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}

// hero hero-black-img

.hero-black-img {
    border-radius: 10px;
    background: $black;
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 20px;

    .wrap-50 {
        width: 50%;
    }

    .bg--black {
        padding: 65px;
        h1 {
            color: #fff;
            font-size: 28px;
            margin-top: 0;
            font-weight: 700;
            margin-bottom: 22px;
        }

        p {
            color: #fff;
        }
    }

    .wrap-img {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}

// img-text text-img

.img-text {
    background: $sand;
    margin: 36px auto;
    padding: 0;
    border-radius: 10px;

    .text-side {
        padding: 40px;

        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 18px;
            font-weight: 700;
        }

        span,
        p,
        li {
            font-size: 14px;
        }
    }

    .wrap-50 {
        width: 50%;
    }

    .img-side {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.text-img {
    background: $sand;
    margin: 36px auto;
    padding: 0;
    border-radius: 10px;

    .text-side {
        padding: 40px;

        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 18px;
            font-weight: 700;
        }

        span,
        p,
        li {
            font-size: 14px;
        }
    }

    .wrap-50 {
        width: 50%;
    }

    .img-side {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// Archives

.archive-header {
    margin-top: 80px;

    h1 {
        font-size: 28px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
    }

    img {
        margin-right: 16px;
    }
}

.main-archive.archive-archive {
    padding-top: 60px;
}

.main-archive {
    padding-top: 120px;
    padding-bottom: 90px;

    .archive-loop {
        width: 60%;
        padding-right: 50px;
        border-right: 1px solid rgba(112, 112, 112, 0.1);

        .post-item {
            padding-bottom: 36px;
            margin-bottom: 46px;
            border-bottom: 1px solid rgba(112, 112, 112, 0.1);

            h2 {
                margin-bottom: 18px;
            }

            .meta-data {
                margin-bottom: 12px;
                padding-top: 0;

                .bsf-rt-display-time {
                    &::after {
                        content: attr(reading_time);
                    }
                }

                .bsf-rt-display-postfix {
                    &::after {
                        content: attr(postfix);
                    }
                }
            }

            .content-row {
                img.ytb-thumb {
                    width: 190px;
                    height: auto;
                    border-radius: 10px;
                    margin-right: 28px;
                }

                p {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }

    .archive-sidebar {
        width: 40%;
        padding-left: 50px;

        .aside-filter {
            padding-bottom: 26px;

            h3 {
                font-size: 18px;
                font-weight: 700;
                color: $black;
                margin-bottom: 16px;

                font {
                    color: $black;
                    font-size: 18px;
                    font-weight: 700;
                }
            }

            .filter-loop {
                .filter-btn {
                    font-size: 12px;
                    color: $black;
                    font-weight: 300;
                    padding: 11px 34px;
                    margin-right: 12px;
                    margin-bottom: 12px;
                    background: #e8e8e8;
                    border-radius: 20px;
                    transition: 0.1s ease-in-out;

                    font {
                        font-size: 12px;
                        color: $black;
                        font-weight: 300;
                    }

                    &:hover {
                        background: $black;
                        color: #fff;

                        font {
                            background: $black;
                            color: #fff;
                        }
                    }
                }

                .filter-btn.active {
                    background: $black;
                    color: #fff;

                    font {
                        background: $black;
                        color: #fff;
                    }
                }
            }
        }

        .aside-ytb {
            padding-top: 26px;

            .youtube-links {
                a {
                    margin-bottom: 16px;

                    img {
                        width: 37px;
                        margin-right: 10px;
                        display: inline-block;
                    }

                    .content {
                        width: calc(100% - 47px);

                        span {
                            color: $black;

                            font {
                                color: $black;
                            }
                        }

                        .title {
                            font-size: 14px;
                            font-weight: 500;
                            opacity: 0.9;
                            transition: 0.2s ease;

                            &:hover {
                                opacity: 1;
                            }

                            font {
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }

                        .subtitle {
                            font-size: 12px;
                            font-style: italic;
                            opacity: 0.6;
                            transition: 0.2s ease;

                            &:hover {
                                opacity: 1;
                            }

                            font {
                                font-size: 12px;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }

        .aside-subscribe {
            padding: 45px;
            margin-top: 26px;
            margin-bottom: 26px;
            background: $sand;
            border-radius: 10px;

            h3 {
                font-size: 16px;
                font-weight: 700;
                margin-top: 0;
                color: $black;

                font {
                    font-size: 16px;
                    font-weight: 700;
                    color: $black;
                }
            }

            p {
                font-size: 14px;
                color: $black;

                font {
                    font-size: 14px;
                    color: $black;
                }
            }

            .es_subscription_form {
                .es-field-wrap {
                    display: inline-block;
                    width: calc(65% - 10px);

                    label {
                        width: 100%;
                    }

                    input {
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid $black;
                        color: $black;
                        width: 100%;
                        font-size: 14px;
                    }

                    &:first-of-type {
                        margin-right: 19px;
                    }
                }

                .es-field-wrap:first-child {
                    width: calc(35% - 10px);
                }

                p {
                    margin-top: 16px;
                }

                .ig-es-form-list-selection {
                    margin-bottom: 16px;
                    .pt-4 {
                        padding-top: 4px;
                    }
                }

                .es_subscription_form_submit {
                    display: inline-block;
                    border: none;
                    border-radius: 8px;
                    font-size: 14px;
                    font-weight: 500;
                    transition: 0.2s ease;
                    position: relative;
                    padding: 12px 36px 12px 36px;
                    margin-top: 12px;
                    line-height: 1;
                    background: $black;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }

        .aside-latest-video {
            padding-top: 26px;
            padding-bottom: 26px;
            width: 100%;

            h3 {
                font-size: 16px;
                font-weight: 700;
                margin-top: 0;
                color: $black;
                margin-bottom: 16px;

                font {
                    font-size: 16px;
                    font-weight: 700;
                    color: $black;
                }
            }

            .embed-container {
                width: 100%;
                height: 210px;

                iframe {
                    border-radius: 10px;
                }
            }
        }
    }
}

.duo-text {
    padding-top: 60px;
    padding-bottom: 60px;

    .wrap-50 {
        width: calc(50% - 16px);
    }

    p {
        margin-bottom: 26px;
    }
}

// Blog

.main-archive-blog {
    padding-top: 75px;
    padding-bottom: 75px;

    h2 {
        font-size: 20px;
        font-weight: 500;
    }

    .blog-latest {
        .featured-item {
            .thumbnail {
                img {
                    border-radius: 10px;
                }
            }

            h3 {
                font-weight: 700;
                font-size: 24px;
            }

            .meta-data .bsf-rt-display-postfix::after {
                content: attr(postfix);
            }

            .wrap-50 {
                width: calc(50% - 26px);
            }
        }
    }

    .blogs {
        padding-top: 80px;
        padding-bottom: 60px;
        width: 100%;

        .wrap-50 {
            width: calc(50% - 26px);
        }

        .blog-item {
            text-decoration: none;
            border-bottom: 1px solid rgba(112, 112, 112, 0.1);
            margin-bottom: 16px;

            h3 {
                margin-top: 20px;
                margin-bottom: 0;
                font-size: 18px;
                font-weight: 700;

                font {
                    font-size: 18px;
                    font-weight: 700;
                }
            }

            .content-part {
                padding-bottom: 12px;

                p {
                    font-size: 14px;
                    font-weight: 300;

                    font {
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }

            .meta-data {
                margin-bottom: 14px;

                .bsf-rt-display-time {
                    &::after {
                        content: attr(reading_time);
                    }
                }

                .bsf-rt-display-postfix {
                    &::after {
                        content: attr(postfix);
                    }
                }
            }
        }
    }

    .btn-row {
        width: 100%;
    }
}

// videos

.container-all-videos {
    padding-top: 45px;
    padding-bottom: 75px;

    h2 {
        font-size: 20px;
        font-weight: 500;
    }

    .row-videos {
        .item-video {
            width: calc(33.333% - 10px);
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 210px;
                object-fit: cover;
            }

            h3 {
                font-size: 16px;
                padding-top: 8px;
            }
        }
    }

    .btn-row {
        width: 100%;
        padding-top: 40px;
    }
}

// grid

.container-grid {
    padding-top: 45px;
    padding-bottom: 100px;

    h2 {
        margin-bottom: 45px;
        font-weight: 400;
    }

    .wrap-grid {
        .item {
            width: calc(33.333% - 10px);
            margin-bottom: 20px;
            padding: 28px;
            border-radius: 10px;
            background: $sand;
            transition: 0.2s ease-in-out;

            .head {
                margin-bottom: 16px;

                h3 {
                    font-size: 16px;
                    font-weight: 700;
                }

                img {
                    height: 30px;
                    width: auto;
                }
            }

            p {
                font-size: 14px;
            }

            &:hover {
                box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.02);
            }
        }
    }
}

// text

.container-text {
    padding-top: 80px;
    padding-bottom: 80px;
}
