@media screen and (max-width: 1016px) {
    .content-info {
        .container {
            flex-wrap: wrap;
        }

        .footer-col {
            width: 100%;
        }
    }

    .main-archive.archive-archive,
    .main-archive {
        flex-wrap: wrap;
    }

    .main-archive .archive-loop {
        width: 100%;
        border-right: none;
        padding-right: 0;
    }

    .main-archive .archive-sidebar {
        width: 100%;
        padding-left: 0;
    }

    .container-grid .wrap-grid .item {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 854px) {
    .btn img {
        width: 18px !important;
    }

    .banner {
        .nav-primary {
            display: none;
        }
    }

    .hero-quote-and-search {
        .container {
            flex-wrap: wrap;
        }

        .wrap-50 {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .search-and-contact-block {
        align-items: flex-start !important;

        .function-block {
            max-width: 100%;
        }
    }

    .double-cards {
        .wrap {
            flex-wrap: wrap;
        }

        .wrap-50 {
            width: 100%;
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }
    }

    .articles-latest {
        .container {
            flex-wrap: wrap;
        }

        .wrap-50,
        .wrap-40 {
            width: 100%;
            margin-bottom: 30px;
        }

        .wrap-50 {
            margin-bottom: 65px;
        }
    }

    .hero-blue-img {
        flex-wrap: wrap-reverse;

        .wrap-50 {
            width: 100%;
        }
    }

    .hero-sand-img {
        flex-wrap: wrap-reverse;

        .wrap-50 {
            width: 100%;
        }
    }

    .hero-black-img {
        flex-wrap: wrap-reverse;

        .wrap-50 {
            width: 100%;
        }
    }

    .latest-video {
        .container {
            flex-wrap: wrap-reverse;
        }

        .wrap-40,
        .wrap-55 {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    .main-archive-blog {
        .blog-latest {
            .featured-item {
                flex-wrap: wrap;

                .wrap-50 {
                    width: 100%;
                }

                .content {
                    padding-top: 16px;
                }
            }
        }

        .blogs {
            flex-wrap: wrap;

            .wrap-50 {
                width: 100%;
            }
        }
    }

    .container-all-videos {
        .row-videos {
            .item-video {
                width: calc(50% - 10px);
            }
        }
    }

    .text-img {
        flex-wrap: wrap-reverse;
        width: calc(100% - 30px);
        margin: 0 auto;
        margin-top: 30px;

        .wrap-50 {
            width: 100%;
        }
    }

    .img-text {
        flex-wrap: wrap;
        width: calc(100% - 30px);
        margin: 0 auto;
        margin-top: 30px;

        .wrap-50 {
            width: 100%;
        }
    }
}

@media screen and (max-width: 640px) {
    .quote-block {
        .verse-verse {
            font-size: 20px;
        }
    }

    .hero-quote-and-search {
        padding-top: 60px;
    }

    .articles-latest {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .verse-centered {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .latest-video {
        padding-top: 25px;
        padding-bottom: 25px;

        .wrap-40 {
            margin-bottom: 0;
        }
    }

    h1 {
        font-size: 22px;
        line-height: 32px;
    }

    h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .articles-latest .meditations h3,
    .latest-video h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .double-cards .card--blue .card-content,
    .double-cards .card--sand .card-content {
        padding: 25px;
    }

    .content-info .footer-foot .footer-small {
        flex-wrap: wrap;
    }

    .main-archive .archive-loop .post-item h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .main-archive .archive-loop .post-item {
        .content-row {
            flex-wrap: wrap;

            img.ytb-thumb {
                width: 100%;
                margin-right: 0;
            }

            .content-content {
                width: 100%;
                padding-top: 16px;
            }
        }
    }

    .container--small .article-content h1 {
        font-size: 20px;
        line-height: 30px;
    }

    .hero-blue-img {
        flex-wrap: wrap-reverse;

        .wrap-50 {
            width: 100%;
        }

        .bg--blue {
            padding: 25px;

            h1,
            h2 {
                font-size: 20px;
            }
        }
    }

    .hero-sand-img {
        flex-wrap: wrap-reverse;

        .wrap-50 {
            width: 100%;
        }

        .bg--sand {
            padding: 25px;

            h1,
            h2 {
                font-size: 20px;
            }
        }
    }

    .hero-black-img {
        flex-wrap: wrap-reverse;

        .wrap-50 {
            width: 100%;
        }

        .bg--black {
            padding: 25px;

            h1,
            h2 {
                font-size: 20px;
            }
        }
    }

    .main-archive-blog {
        .blog-latest {
            .featured-item {
                flex-wrap: wrap;

                h3 {
                    font-size: 20px;
                }

                .wrap-50 {
                    width: 100%;
                }

                .content {
                    padding-top: 16px;
                }
            }
        }
    }

    .container-all-videos {
        .row-videos {
            .item-video {
                width: 100%;
            }
        }
    }

    .container-grid .wrap-grid .item {
        width: 100%;
    }
}
